.user-auth h1 {
  text-align: center;
  color: rgb(242, 72, 132);
  margin-bottom: 50px;
  margin-top: 80px;
}
.user-auth{
  margin-bottom: 100px;
}
.common-form a{
color: blueviolet;
cursor: pointer;
}