<div class="user-auth">
  <div *ngIf="!showLogin" class="user-Signup">
    <h1>User Sign-up </h1>
    <form #userSignup="ngForm" (ngSubmit)="signUp(userSignup.value)" class="common-form">
      <input class="form-input" type="text" placeholder="Enter User Name" name="name" ngModel />
      <input class="form-input" type="email" placeholder="Enter User Email" name="email" ngModel />
      <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel />
      <button class="form-button">Sign Up</button>
      <p>Already have an Account? <a (click)="openLogin()">Click Here</a></p>
    </form>
  </div>
  <div *ngIf="showLogin" class="user-login">
    <h1>User Login </h1>
    <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)" class="common-form">
      <p class="error-p">{{authError}}</p>
      <input class="form-input" type="email" placeholder="Enter User Email" name="email" ngModel #email="ngModel"
        required email />
      <p class="invalid-input"><span *ngIf="email.invalid && email.touched">Please Enter a Valid Value</span></p>
      <input class="form-input" type="password" placeholder="Enter User Password" name="password" ngModel
        #password="ngModel" required minlength="3" maxlength="20" />
      <p class="invalid-input"><span *ngIf="password.invalid && password.touched">Please Enter a Valid Value</span></p>
      <button [disabled]="userLogin.invalid" class="form-button">Login</button>
      <p>Want to create an Account? <a (click)="openSignup()">Click Here</a></p>
    </form>
  </div>
</div>